@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightgoldenrodyellow;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #598d94;
  opacity: 0.9;
  width: 500px;
  box-shadow: -20px -20px 0px 0px rgb(100 100 100 / 10%);
}

h2 {
  margin: 0;
}

/* header style  */
header {
  padding: 3rem 3rem;
  padding-bottom: 0px;
}
.header-container {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid white;
  padding-bottom: 0.8rem;
}
.hedar-text {
  color: white;
}
.hedar-text h2 {
  font-size: 2.6rem;
  margin-bottom: 5px;
  font-weight: 400;
}
.hedar-text span {
  font-size: 0.8rem;
  margin-left: 3px;
}
.header-filter {
  margin-top: 5px;
}
select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 2px;
  margin-top: 6px;
  outline: none;
  color: white;
}
option {
  color: white;
  background-color: #598d94;
}

/* todo list  */
.todo_list {
  margin: 3rem 0rem 1.5rem 0;
}

ul {
  height: 248px;
  overflow: auto;
  list-style: none;
  padding: 0;
}
.todo li {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 20px;
  color: #ffff;
  background: rgba(255, 255, 255, 0.1);
}
.text_check {
  cursor: pointer;
  user-select: none;
}
.icons {
  display: flex;
}
.icons svg {
  margin-left: 5px;
  cursor: pointer;
}
.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.clear-all {
  text-align: center;
}
.clear-all button {
  margin-top: 0.5rem;
  border: none;
  margin-left: 5px;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: #164246;
}

.clear-all button:hover {
  background: #0f3538;
}

/* form  */
form {
  padding: 0 3rem;
  padding-bottom: 3rem;
}
form h2 {
  font-size: 1rem;
  color: white;
  font-weight: 500;
}
form input {
  border: none;
  padding: 1.2rem 1rem;
  background: white;
  margin-top: 0.5rem;
  width: 65%;
}

.form-btn {
  border: none;
  margin-left: 5px;
  padding: 1.2rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: #164246;
}
.form-btn:hover {
  background: #0f3538;
}

/* media quary  */

@media only screen and (max-width: 500px) {
  main {
    background-color: #598d94;
    opacity: 0.9;
    width: 100%;
  }
  header {
    padding: 3rem 1.5rem 0rem;
  }
  .todo li {
    padding: 1rem 1.5rem;
  }
  form {
    padding: 0px 1.5rem;
    padding-bottom: 3.5rem;
  }
  form input {
    width: 64%;
    padding: 1rem;
  }
  .clear-all button {
    font-size: 12px;
    padding: 0.8rem;
  }
  .form-btn {
    padding: 1rem 0.5rem;
    font-size: 12px;
  }
}
